checkpoint/
*.pyc
/*.log
*ptm
.vscode
*visualize_images*/
*_tsne_*
*hard_triplet_*
*_feature.pkl
Visualize_Network_*
hard_mining/
backup.py
*pdf
*.bak*
# *.sh
*log*
*output*
*png
*jpg
*tmp.py

TinyViT/slurm-2777669.out
TinyViT/wandb/
TinyViT/data/